:root{
    --darkgreyblue: #425370;
    --tealblue: #7a87d3;
    --lightblue: #acc3f8;
    --greyblue: #5d74db;
    --softpink: #ff8995;
    --purpleblue: #7b8eff;
    --hardblue: #465eec;
    --lightestblue: rgb(211, 229, 231);
}

body{
    margin: 0;
    padding: 0;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background-color: whitesmoke;
    overflow-x: hidden;
}

body *{
    font-family: 'Oswald', sans-serif;
}

.main-page{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.upper-container{
    width: 100vw;
}

.topbar{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px 0px 100px ;
    height: 80px;
}

.topbar>h2{
    font-size: 2.8rem;
    padding-left: 70px;
    line-height: 5px;
}

.searchbar{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 100px;
    top: 10px;
}

#search{
    width: 400px;
    height: 80px;
    font-size: 2rem;
    border: none;
    padding-left: 20px;
    margin-right: 10px;
}

#searchSubmit{
    width: 100px;
    height: 82px;
    transform: translateY(-4px);
    background-color: var(--lightestblue);
    border: none;
    font-size: 1.5rem;
}

#searchSubmit:hover{
    cursor: pointer;
    background-color: var(--lightblue);
}

.upper-container>h3{
    padding: 0 170px;
    font-size: 2.5rem;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px;
}

.card{
    background-color: var(--lightestblue);
    width: 18%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
}

.card>h4{
    font-weight: normal;
}

.card>h4::before{
    content: "";
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 25px;
    animation: hoverbar-out 0.3s forwards;
    transform-origin: 100%;
}

.card:hover>h4::before{
    transform-origin: 0;
    animation: hoverbar-in 0.3s forwards;
}

#publicservices>h4::before{
    width: 160px;
}

#recycling>h4::before{
    width: 103px;
}

#landscape>h4::before{
    width: 110px;
}

#skills>h4::before{
    width: 125px;
}

@keyframes hoverbar-in{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes hoverbar-out{
    0%{transform: scale(1);}
    100%{transform: scale(0);}
}

.target{
    background-color: var(--lightblue);
}

.lower-container{
    height: 800px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.suggestions{
    width: 50%;
    margin: 0;
    padding: 0;
    line-height:5px;
}


.suggestions>h5{
    font-size: 2rem;
    padding-left: 170px;
}

.suggestions>p{
    padding-left: 200px;
}

.post-suggestion{
    width: 50%;
    position: relative;
}

.post-suggestion::before{
    content: "";
    height: 700px;
    width: 1.8px;
    position: absolute;
    background-color: black;
}

.post-suggestion>*{
    padding-left: 50px;
    line-height: 5px;
}

.post-suggestion>h3{
    font-size: 2.5rem;
    margin-top: 40px;
}


#guidance{
    cursor: pointer;
    text-decoration: underline;
    padding-left: 50px;
    font-size: 1.3rem;
}

#guidance:hover{
    color: #425370;
}

#post{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
}

#top-inputs{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#category{
    width: 150px;
    height: 65px;
    font-size: 1.3rem;
    transform: translate(-45px, 0px);
}

#title{
    width: 68%;
    height: 60px;
    font-size: 2rem;
    margin-top: 30px;
    transform: translate(40px,-15px);
}

#content{
    width: 80%;
    padding: 5px 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#submit{
    width: 200px;
    height: 70px;
    font-size: 2rem;
    background-color: var(--lightestblue);
    border: solid 1px black;
}

#submit:hover{
    cursor:pointer;
    background-color: var(--lightblue);
}
